body{
    background: #506c6e;
    font-family: 'Open Sans', sans-serif;
    
}

.App-header {
  background-color: #506c6e;
  display: flex;
  color: white;
  width: 100%;
}

.title{
    font-size: 2.5em;
    margin-right: 2em;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    transition-duration: 0.3s;
}

.divHeader{
    display: flex;
    margin-left: 2em;
    padding: 0.7em;
    align-items: center;
}

.btnHeader{
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    transition-duration: 0.3s;
}

.btnHeader-desktop{
    margin-left: 1em;
    font-size: 1rem;
}

.title:hover, .btnHeader:hover{
    color: #00b786;
    cursor: pointer;
}

/*-------------Phone resposive header------*/ 

nav{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 10;
}


.bar-btn{
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu-Phone{
    position: fixed;
    width: 100%;
    height: 0;
    top: 70px;
    background: rgba(0, 0, 0, 0.95);
    text-align: center;
    transition: all 0.5s;
    list-style: none;
}

ul{
    margin:0;
    padding: 0;
}

.nav-menu-Phone li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all 0.5s;
}

.nav-menu-Phone li button{
    font-size: 2rem;
    font-weight: 600;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu-Phone {
    height: 100vh;
}

#check:checked ~ .nav-menu-Phone li {
    display: block;
}




/*------------- END Phone resposive header------*/ 